.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 10px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/* app.css */
.container {
  position: relative;
  height: 100vh; /* Changed from min-height to height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/images/Stockmarket.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; 
  text-align: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
  
}

/* .container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/images/Stockmarket.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; 
  text-align: center;
  font-family: Arial, sans-serif;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.text {
  position: relative;
  z-index: 1;
  padding: 20px;
  font-weight: bold;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.paragraph {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.list {
  font-size: 1.2rem;
  text-align: center;
}

